/*================================1========================*/
/*=======Specificity of class is greater than specificity of element so that 
color of class is sone===========*/
.heading1 {
    color: blueviolet;
}

h1 {
    color: aqua;
}

/*############################################*/







/*==================================2==========================*/
/*==========Background color of style attribute is run because style attribute(inline style)'s specificity
greater than class or id or element specificity==========*/
.head {
    background-color: black;
}

/*############################################*/







/*===========================3=====================*/
/*========The same element have class and id but the value of id is done
because the specificity of it is greater than specificity of class======*/
#heading {
    color: brown;
}

.heading3 {
    color: rgb(46, 165, 42);
}

/*#######################################*/






/*===========================4=========================*/
/*===============Orange due to an important============*/
h4 {
    color: aquamarine;
}

/*#####################################################*/





/*============================5=========================*/
/*================= (0,0,3)3 Elements====================*/
div>div>p {
    background-color: rgb(54, 102, 86);
}
/*=====================3 Elements,2 Classes,0 id*/
div>div>p:hover .para{
    color: aliceblue;
}
/*===================(1,1,3)3 Elements,1 Class,1 id============*/
div>div>p:hover #para{
    color: aliceblue;
}
/*=================(0,0,4)4 Elements===============*/
div>div>p::first-letter {
    color: aliceblue;
}
/*=================(1,0,4)4 Elements,0 Classes,1 id===========*/
div>div>p::first-letter #para {
    color: aliceblue;
}